.fluid,
#portfolio .inner-text-width img,
.fetched-header {
  width: 100%;
  height: auto;
}

.inline-max-content {
  max-width: max-content;
}

.center {
  display: block;
  margin: 0 auto;
}

.max-width-200 {
  max-width: 200px;
}

.max-width-210 {
  max-width: 210px;
}

.max-width-220 {
  max-width: 220px;
}

.max-width-240 {
  max-width: 240px;
}

.max-width-250 {
  max-width: 250px;
}

.max-width-260 {
  max-width: 260px;
}

.max-width-270 {
  max-width: 270px;
}

.max-width-280 {
  max-width: 280px;
}

.max-width-290 {
  max-width: 290px;
}

.max-width-300 {
  max-width: 300px;
}

.clip-circular {
  clip-path: circle(50% at 50% 50%);
}

.service-icon {
  filter: brightness(0) invert(1);
  max-height: 25px;
  max-width: 25px;
  height: auto;
  width: auto;
  display: block;
  margin: 0 auto;
}
